___

<a href='https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg2OTU4NzI3NQ==&action=getalbum&album_id=1764511202329624577&scene=126#wechat_redirect'> <img src=../../../pic/project_logo.jpg></a>
___


# Python基础教程


**代码配套视频讲解，在此不含解释**

本文档按照下列顺序展开，可以依次点击链接到对应的位置。

* [数据类型](#数据类型)
    * [Numbers](#Numbers)
    * [Strings](#Strings)
    * [Printing](#Printing)
    * [Lists](#Lists)
    * [Dictionaries](#Dictionaries)
    * [Booleans](#Booleans)
    * [Tuples](#Tuples)
    * [Sets](#Sets)
* [比较符](#比较符)
* [逻辑符](#逻辑符)
* [条件语句](#条件语句)
* [for循环](#for循环)
* [while循环](#while循环)
* [range()](#range())
* [列表推导 => list comprehension](#列表推导)
* [函数](#函数)
* [匿名函数 => lambda](#匿名函数)
* [map & filter](#map&filter)
* [其他](#其他)
____

## 数据类型

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'鲸析'

'鲸析'

In [13]:
"Whale Project"

'Whale Project'

In [14]:
"It's a trick!"

"It's a trick!"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['鲸析','数据','分析']

In [25]:
my_list.append('data analysis')

In [26]:
my_list

['鲸析', '数据', '分析', 'data analysis']

In [27]:
my_list[0]

'鲸析'

In [28]:
my_list[1]

'数据'

In [29]:
my_list[1:]

['数据', '分析', 'data analysis']

In [30]:
my_list[:1]

['鲸析']

In [31]:
my_list[0] = 'NEW'

In [32]:
my_list

['NEW', '数据', '分析', 'data analysis']

In [33]:
nest = [1,2,3,[4,5,['找到我！']]]

In [34]:
nest[3]

[4, 5, ['找到我！']]

In [35]:
nest[3][2]

['找到我！']

In [36]:
nest[3][2][0]

'找到我！'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [47]:
set([1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2])

{1, 2, 3}

## 比较符

In [48]:
1 > 2

False

In [49]:
1 < 2

True

In [50]:
1 >= 1

True

In [51]:
1 <= 4

True

In [52]:
1 == 1

True

In [53]:
'你' == '我'

False

## 逻辑符

In [54]:
(1 > 2) and (2 < 3)

False

In [55]:
(1 > 2) or (2 < 3)

True

In [56]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## 条件语句

In [57]:
if 1 < 2:
    print('嘿哈')

嘿哈

In [58]:
if 1 > 2:
    print('嘿哈')

In [59]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [60]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [61]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for循环

In [62]:
seq = [1,2,3,4,5]

In [63]:
for item in seq:
    print(item)

1
2
3
4
5

In [64]:
for item in seq:
    print('哈哈哈')

哈哈哈
哈哈哈
哈哈哈
哈哈哈
哈哈哈

In [65]:
for num in seq:
    print(num+num)

2
4
6
8
10

## while循环

In [66]:
数字 = 1
while 数字 < 5:
    print('数字是：{}'.format(数字))
    数字 = 数字 + 1

数字是：1
数字是：2
数字是：3
数字是：4

## range()

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
list(range(5))

[0, 1, 2, 3, 4]

## 列表推导

In [70]:
x = list(range(10))

In [71]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
out = []
for item in x:
    out.append(item**3)
print(out)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [73]:
[item**3 for item in x]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

## 函数

In [74]:
def my_func(param1='default'):
    """
    注释：一般写参数文档
    """
    print(param1)

In [75]:
my_func

In [76]:
my_func()

default

In [77]:
my_func('new param')

new param

In [78]:
my_func(param1='new param')

new param

In [79]:
def my_square(x):
    return x**2

In [85]:
out = my_square(2)

In [86]:
print(out)

4

## 匿名函数

In [87]:
def quad(x):
    return (x+1)**2

In [88]:
quad(2)

9

In [89]:
lambda var: var*2

## map and filter

In [90]:
seq = [1,2,3,4,5]

In [91]:
map(quad,seq)

In [92]:
list(map(quad,seq))

[4, 9, 16, 25, 36]

In [93]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [94]:
filter(lambda item: item%2 == 0,seq)

In [95]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## 其他

In [96]:
st = 'hello my name is Whale'

In [97]:
st.lower()

'hello my name is whale'

In [98]:
st.upper()

'HELLO MY NAME IS WHALE'

In [99]:
st.split()

['hello', 'my', 'name', 'is', 'Whale']

In [100]:
tweet = "let's go #数据科学"

In [101]:
tweet.split('#')

["let's go ", '数据科学']

In [102]:
tweet.split('#')[1]

'数据科学'

In [103]:
d

{'key1': 'item1', 'key2': 'item2'}

In [104]:
d.keys()

dict_keys(['key1', 'key2'])

In [105]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [106]:
d.values()

dict_values(['item1', 'item2'])

In [107]:
lst = [1,2,3]

In [108]:
lst.pop()

3

In [109]:
lst

[1, 2]

In [110]:
'x' in [1,2,3]

False

In [111]:
'x' in ['x','y','z']

True

# Great Job!