## Pandas 数据分析练习（第一部分）

<font color = red>注意：代码的输出，是我用标准答案run好的，不要run题目的chunk，输出会消失！另开一个代码块输入你的答案！！！</font>

### 创建对象

In [ ]:
# 创建序列
import pandas as pd
s = pd.Series([1,2,3],index = ['A','B','C'],name = 'First_Series')

In [ ]:
s

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
s.name

In [ ]:
# 创建时间序列
dates = pd.date_range("20220101", periods=6)

In [ ]:
dates

In [ ]:
# 创建数据框
import numpy as np

df = pd.DataFrame(
    {
        "A": [1,2,3,np.nan],
        "B": pd.date_range("20220101",periods = 4),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [ ]:
df

In [ ]:
# 创建随机数df

np.random.seed(10)
df2 = pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D'])

In [ ]:
df2

### 查看数据

In [ ]:
# 前三行
df2.head(n=3)

In [ ]:
# 后四行
df2.tail(n=4)

In [ ]:
# 查看index
df2.index

In [ ]:
# 查看columns
df2.columns

In [ ]:
# 转化为数组，此时index和columns被省略！
df2.to_numpy()

In [ ]:
# 连续型变量描述统计（只针对连续型数据）
df.describe()  # 其他列不是连续型数据

In [ ]:
df2.describe() # 4列都是连续型数据

In [ ]:
# 查看基本信息
df.info()

In [ ]:
# 维度
df2.shape

In [ ]:
# 各维度数据类型
df.dtypes

### 排序

In [ ]:
df2.sort_index(axis = 0,ascending=False)
# 按照行索引倒序排列，看最左边9876.。。

In [ ]:
df2.sort_values(by = 'B')
# 按照B列的值排序，从小到大

### 取列数据（普通）

In [ ]:
df2.A # 取A列

In [ ]:
df2['A']

In [ ]:
df2[['A','B']]
# 取AB两列，注意两个中括号

### 取列数据（索引）

使用 loc iloc 方法索引，`:`代表所有行

In [ ]:
df2.loc[:,'A']
# 筛选所有行，和A列

In [ ]:
df2.loc[:,['A','B']]

In [ ]:
df2.iloc[:,0]
# 筛选所有行和第0列（在这里就是A列）

In [ ]:
df2.iloc[:,2:4]
# 筛选所有行和第3和第4列（在这里就是CD两列）

### 取行数据

In [ ]:
df3 = df2.copy()

import random
random.seed(100)
df3.index = random.sample(range(100),k = 10)

In [ ]:
df3 # 索引改变了

In [ ]:
df3.loc[18]

# 这里的18不是第18行，是根据index索引，指的是筛选index=18的那一行

In [ ]:
df2 # 回到df2

In [ ]:
df2.iloc[1:3] # 取第2和第3行

# 1:3 左开右闭相当于数学中的 (1,3]

![](https://tuchuangs.com/imgs/2022/02/413b635e19d0284b.png)

### 筛选行列

In [ ]:
df3 # 回到df3 索引被打乱

In [ ]:
df3.loc[44,'A']
# A列 索引为44的行（并不是第45行！！！）

![](https://tuchuangs.com/imgs/2022/02/b627b4a02e65c495.png)

In [ ]:
df3.loc[98:44,['A','B']]

# 慢慢理解一下！

In [ ]:
df3.iloc[1,1]
# 第2列第2行


# iloc对应的都是第n行第n列

# 所以输入的都是数字！！! 无视对应的index

In [ ]:
df3.iloc[3:9,[1,3]]

# 自己理解一下！

![](https://tuchuangs.com/imgs/2022/02/ba3146b6fc3a8910.png)

## 小结

今天就分享到这里，总结一下！

1. 创建对象
2. 查看对象的属性
3. 排序
4. 索引（筛选行、列）

## 习题

请大家为了巩固知识，完成下面习题，参与Kaggle项目的同学，做完之后发给对应组长，由组长和组员确认，形成最终版本后，交给我，我给大家按组打分，最终加到每一阶段的项目总分里！

In [ ]:
import pandas as pd
import numpy as np

### 第一题 创建序列（2分）

创建一个长度为5的series，值为从0开始（包括0）偶数，index是20220101开始的日期（20220101至20220501），序列名字设置为whale_project

2022-01-01    0
2022-02-01    2
2022-03-01    4
2022-04-01    6
2022-05-01    8
Freq: MS, Name: whale_project, dtype: int64

### 第二题 创建&索引数据框（1分）

请用`np.random.randint`生成一个10x10的取值范围1至100的随机整数矩阵，然后索引得到下面的子矩阵。

In [50]:
np.random.seed(2022)

In [51]:
df

    0   1   2   3   4   5   6   7   8   9
0  93  46  50  56  89  19  25  17  54  42
1  34  28  12  20  95  76  49  20  39  73
2  15  94  17  91  12  95  98   3  81  16
3  24  82  88  86  38  57  84  13  46  91
4  77  15  97  14  78  53  43  54  65  46
5  94  64  24  38  22  62  57  76  47   3
6  65  47  42  62  62  73  65  52  92  99
7  34  30  24  48  50  56  29  10  71  48
8  32  27   8  99  90  66  43  63  92  33
9  77   5  88  98  11  77  26  54  63  24

![](https://tuchuangs.com/imgs/2022/02/3add3b2114e9b72a.png)

In [52]:
# 你的代码

    4   5   6   7   8
3  38  57  84  13  46
4  78  53  43  54  65
5  22  62  57  76  47
6  62  73  65  52  92