## Pandas 数据分析练习（第三部分）

<font color = red>注意：代码的输出，是我用标准答案run好的，不要run题目的chunk，输出会消失！另开一个代码块输入你的答案！！！</font>

## 抽样

In [1]:
# 创建随机数df

import pandas as pd
import numpy as np

df = pd.read_csv('./Iris.csv')

### 分组【groupby】下

下面给出了一系列的比较实用的一些aggregation function。

[![baOlU1.png](https://s4.ax1x.com/2022/03/04/baOlU1.png)](https://imgtu.com/i/baOlU1)

举几个例子

In [2]:
feature_cols = df.columns[1:5]

In [3]:
feature_cols

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

### 描述性统计

In [4]:
# 计算每个类别的四个特征的均值。
df.groupby('Species')[feature_cols].mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [5]:
# 计算每个类别的四个特征的均值。
df.groupby('Species')[feature_cols].describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

<div class="alert alert-block alert-success"><b>Step 1 (2分)</b>: 对各组进行描述性统计：第三四分位数（Q3）和第一四分位数（Q1）</div>

In [6]:
# 你的答案

                      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa     0.25          4.800         3.125          1.400           0.2
                0.75          5.200         3.675          1.575           0.3
Iris-versicolor 0.25          5.600         2.525          4.000           1.2
                0.75          6.300         3.000          4.600           1.5
Iris-virginica  0.25          6.225         2.800          5.100           1.8
                0.75          6.900         3.175          5.875           2.3

那么如何同时计算多个统计指标呢？使用`agg()`函数

In [7]:
stats_list = ['mean','var','std','median','min','max']

df.groupby('Species')[feature_cols].agg(stats_list).T

Species               Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm mean       5.006000         5.936000        6.588000
              var        0.124249         0.266433        0.404343
              std        0.352490         0.516171        0.635880
              median     5.000000         5.900000        6.500000
              min        4.300000         4.900000        4.900000
              max        5.800000         7.000000        7.900000
SepalWidthCm  mean       3.418000         2.770000        2.974000
              var        0.145180         0.098469        0.104004
              std        0.381024         0.313798        0.322497
              median     3.400000         2.800000        3.000000
              min        2.300000         2.000000        2.200000
              max        4.400000         3.400000        3.800000
PetalLengthCm mean       1.464000         4.260000        5.552000
              var        0.030106         0.220816        0.304588
              std        0.173511         0.469911        0.551895
              median     1.500000         4.350000        5.550000
              min        1.000000         3.000000        4.500000
              max        1.900000         5.100000        6.900000
PetalWidthCm  mean       0.244000         1.326000        2.026000
              var        0.011494         0.039106        0.075433
              std        0.107210         0.197753        0.274650
              median     0.200000         1.300000        2.000000
              min        0.100000         1.000000        1.400000
              max        0.600000         1.800000        2.500000

<div class="alert alert-block alert-success"><b>Step 2 (4分)</b>：
那么如何对不同的列求不同的统计量？ 
请对:
    
- SepalLengthCm计算mean
- SepalWidthCm计算var
- PetalLengthCm计算max
- PetalWidthCm计算min
    
并使用rename函数对index和column进行重命名。
</div>

In [9]:


# 答案应该和下面完全一样！

,SepalLengthC的均值,SepalWidthCm的方差,PetalLengthCm的最大值,PetalWidthCm的最小值
Species,,,,
setosa,5.006,0.145180,1.9,0.1
versocolor,5.936,0.098469,5.1,1.0
virginica,6.588,0.104004,6.9,1.4

<div class="alert alert-block alert-success"><b>Step 3 (4分)</b>：
那么如何对不同的列求不同的【自定义】统计量？ 
请对:
    
- SepalLengthCm计算IQR
- SepalWidthCm计算极差
- PetalLengthCm计算几何平均值
- PetalWidthCm均值大于1返回True，反之为False
</div>

In [12]:
# 你的答案
# 结果跟下面一样！

,SepalLengthCm_iqr,SepalWidthCm_range,PetalLengthCm_geomean,PetalWidthCm_bool
Species,,,,
Iris-setosa,0.400,2.1,1.453739,False
Iris-versicolor,0.700,1.4,4.233081,True
Iris-virginica,0.675,1.6,5.525789,True

### apply vs. transform

|                |                             agg                              |                            apply                             |                          transform                           |
| :------------: | :----------------------------------------------------------: | :----------------------------------------------------------: | :----------------------------------------------------------: |
|      描述      | <font color='red'>Aggregate</font> using <font color='#3198FB'>one or more operations</font> over the specified axis. | <font color='red'>Apply</font> <font color='#3198FB'>a function</font> along an axis of the DataFrame. | Call `func` on self producing a DataFrame with <font color='red'>the same axis</font> <font color='red'>shape as self</font>. |
|      函数      | Summary stats：mean、std<br />Numpy operations: np.mean/np.max<br />lambda（必须采用aggregate函数） |         Numpy operations: np.mean/np.max<br />lambda         | Summary stats：mean、std<br />Numpy operations: np.mean/np.max<br />lambda |
|      对象      |                             axis                             |                              df                              |                             axis                             |
| 不同列之间运算 |                             不能                             |                             可以                             |                             不能                             |
|   返回shape    |             和groupby的类别数一样<br />summarise             |             和groupby的类别数一样<br />summarise             |               和原数据行数一样<br />broadcast                |

## 小结

今天就分享到这里，总结一下！

groupby+agg/apply/transform